<?xml version="1.0"?>
<model>
  <name>ica cup</name>
  <version>1.1</version>
  <sdf version="1.1">icaCup.sdf</sdf>

  <author>
    <name>Ronald</name>
  </author>

  <description>
    Basic cup that provides info about spilling its content if its accelerated on a horizontal plane, ignoring al rotations
  </description>
</model>
