<launch>
  <env name="GAZEBO_MODEL_PATH" value="$(find sim_world)/models"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find sim_lidar)/worlds/test.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="recording" value="false"/>
    <arg name="debug" value="false"/>
    <arg name="verbose" value="false"/>
  </include>

  <node name="tree" pkg="sim_world" type="prototype_body_lidar_quad_tree_node" />
</launch>
