<?xml version="1.0"?>

<model>
  <version>1.0</version>
  <name>kinect_one</name>
  <sdf version="1.0">kinect_one.sdf</sdf>

  <author>
    <name>Mees van Diermen</name>
    <email>M.vanDiermen1@student.han.nl</email>
  </author>

  <description>
    A model of the kinect sensor
  </description>
</model>
