<?xml version="1.0"?>

<model>
  <name>hcsr04</name>
  <version>1.0</version>
  <sdf version='1.6'>hcsr04.sdf</sdf>

  <author>
    <name>Wor project team 1819 s1</name>
    <email>wor1819s1@gmail.com</email>
  </author>

  <description>
    The hcsr04 ultrasonic sonar sensor.
  </description>
</model>
