<?xml version="1.0"?>

<model>
  <version>1.0</version>
  <name>camera</name>
  <sdf version="1.0">kinect_one.sdf</sdf>

  <author>
    <name>Thomas de Winkel</name>
    <email>TDJ.deWinkel@student.han.nl</email>
  </author>

  <description>
    A model of the camera sensor
  </description>
</model>
