<?xml version="1.0"?>
<model>
  <name>franka_panda</name>
  <version>1.0</version>
  <sdf version='1.4'>franka.sdf</sdf>

  <author>
   <name>Ronald Blok</name>
   <email>R.Blok1@student.han.nl</email>
  </author>

  <description>
    The Franka Panda robot, Testing version for Project WoR.
  </description>
</model>
